<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.AddInstructorActivity"
            android:exported="false"/>
        <activity
            android:name=".presentation.UserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ItemActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.displayReviews.ReviewsForItemActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.SignUpActivity"
            android:label="@string/title_activity_signup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.student_echo.presentation.LoginActivity" />
        </activity>
        <activity
            android:name=".presentation.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.LoginActivity">
        </activity>
        <activity
            android:name=".presentation.AddCourseActivity"
            android:exported="true"
            android:label="StudentEcho: New Course"
            android:parentActivityName=".presentation.ItemActivity">
        </activity>
        <activity android:name=".presentation.displayReviews.WriteReviewActivity" />
        <activity android:name=".presentation.displayReviews.EditReviewActivity" />
    </application>

</manifest>